<div class="navbar navbar" ng-controller="menuController">
    <nav class="navbar navbar-default navbar" role="navigation">
        <div class="container-fluid" id="navfluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/" style="font-size: 16px;">Asset Registry for CPPS</a>
            </div>
            <div class="collapse navbar-collapse" id="navigationbar">
                <ul class="nav navbar-nav" ng-if="loggedIn">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cubes" aria-hidden="true"/>
                            Assets
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-class="activeMenuClass()"><a href="#/classes"><i class="fa fa-object-group"
                                                                                    aria-hidden="true"></i>
                                Classes</a>
                            </li>
                            <li ng-class="activeMenuDomain()"><a href="#/domains">
                                <i class="fa fa-users" aria-hidden="true"></i> Domains</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown" ng-if="isAdmin()">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog" aria-hidden="true"/>
                            Configuration
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-class="activeMenuOrionConfig()" ng-if="isAdmin()">
                                <a href="#/orion">
                                    <i class="fa fa-globe" aria-hidden="true"></i> OCB Spaces</a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!loggedIn && !isOAuth">
                        <form class="form-inline" ng-controller="menuController" ng-submit="doLogin()">
                            <label class="sr-only" for="login-email">Email address</label>
                            <input type="email" class="form-control" id="login-email"
                                   placeholder="Enter email" ng-model="loginData.username">
                            <label class="sr-only" for="login-password">Password</label>
                            <input type="password" class="form-control" id="login-password"
                                   placeholder="Password" ng-model="loginData.password">
                            <button type="submit" class="btn btn-sm btn-primary">Sign in</button>
                        </form>
                    </li>

                    <li ng-if="!loggedIn && isOAuth">
                        <button type="button" ng-click="login()" class="btn btn-sm btn-primary">Sign in</button>
                    </li>

                    <li ng-if="loggedIn" class="navbar-text">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span
                                popover-trigger="'mouseenter'" popover-placement="left"
                                uib-popover-template="'userPopupTemplate.html'"
                                popover-title="{{dynamicPopover.title}}">
                           {{ user.username }}
                        </span>
                    </li>
                    <li ng-if="loggedIn">
                        <button type="button" class="btn btn-sm btn-default" style="margin-top: 10px;"
                                ng-click="doLogout()">{{logoutLabel}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>