<div id="asset-detail-container" ng-init="">
    <div ng-include="'pages/menu/mainMenu.html'"></div>
    <div id="panel-container" class="panel panel-default panel-height">
        <div class="panel-heading">
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous">
                        <a href="#/{{groupingType}}/{{groupingName}}">
                            <span aria-hidden="true">&larr;</span> Back</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="asset-detail" class="panel-body">
            <fieldset class="asset-detail-fieldset">
                <div class="row-fluid" style="margin-bottom:20px;"><span class="label label-info label-header-detail">{{className}}</span>
                </div>
                <div class="row-fluid"><label>Name:</label> <span> {{selectedAsset.individualName}}</span></div>
                <div class="row-fluid"><label>Model:</label> <span> {{selectedAsset.model}}</span></div>
                <div class="row-fluid"><label>Created:</label> <span> {{selectedAsset.createdOn}}</span></div>
                <div class="row-fluid"><label>Domain:</label> <span> {{selectedAsset.domain}}</span>
                    <button class="cam-table-button" ng-click="openUpdateDomainPanel()" ng-if="isDomainEnabled && !isOCBEnabled"
                            data-toggle="tooltip" title="Update domain">
                        <i class="fa fa-pencil cam-table-button"></i>
                    </button>
                </div>
            </fieldset>
            <br>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="{{isTabAttrsActive}}">
                            <a ng-click="changeTab('attributes')">Attributes</a>
                        </li>
                        <li role="presentation" class="{{isTabRelsActive}}">
                            <a ng-click="changeTab('relationships')">Relationships</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <div ng-include="'pages/detail/assetDetailAttributes.htm'" ng-show="isAttributes"></div>
                        </div>
                        <div class="tab-pane fade in active" id="tab2default">
                            <div ng-include="'pages/detail/assetDetailRelationships.htm'" ng-show="!isAttributes"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>