<div id="cam-asset-detail-btn-container" class="row-fluid" style="margin-top: 10px">
    <!-- <button type="button" data-toggle="tooltip" title="New Attribute" class="cam-btn-add-container" ng-click="openNewAttributePanel()"
        ng-disabled="isOCBEnabled">
        <i class="fa fa-plus" data-toggle="modal" data-target="#newAttributeLabel" /> New Attribute
    </button> -->
    <!-- <button type="button" data-toggle="tooltip" title="Send to Orion Context Broker" ng-show="!isOCBEnabled"
            class="cam-btn-add-container"
            ng-click="openConfirmOperationPanel()">
        <i class="fa fa-globe" data-toggle="modal" data-target="#newAttributeLabel"/> Link to Orion Context Broker
    </button>
    <button type="button" data-toggle="tooltip" title="Disconnect from Orion" ng-show="isOCBEnabled"
            class="cam-btn-add-container"
            ng-click="openDisconnectFromOCB(selectedAsset.individualName)">
        <i class="fa fa-chain-broken cam-table-button"></i> Disconnect from {{selectedAsset.connectedToOrion}}
    </button>
    <button type="button" data-toggle="tooltip" ng-show="isOCBEnabled" title="Download assets for IDAS"
            class="cam-btn-add-container" ng-click="downloadAssetsForIDAS(selectedAsset)">
        <i class="fa fa-download cam-table-button"></i> Download IDAS configuration
    </button>
    <i class="fa fa-refresh fa-spin" data-toggle="tooltip" title="Refreshing from Orion"
       style="font-size:24px" ng-show="isOCBEnabled && isRefreshig"></i>
    <button type="button" data-toggle="tooltip" title="Refresh context from Orion"
            ng-show="isOCBEnabled && !isRefreshig"
            ng-click="refreshAssetFromOCB()" class="cam-btn-add-container" style="margin-right: 0px;">
        <i class="fa fa-refresh"></i> Refresh from OCB
    </button>
 -->
</div>
<br>
<div id="asset-detail-table" class="cam-asset-detail-table-container">
    <!-- <table ng-table-dynamic="selectedAsset.attributes" 
        class="table table-condensed table-bordered table-hover cam-data-table">
        <thead>
        <tr>
            <th style="width: 50px"></th>
            <th style="width: 400px">Property</th>
            <th style="width: 350px">Value</th>
            <th style="width: 100px">Action</th>
        </tr>
        </thead>
    </table> -->
    <div class="btn-group">
        <button ng-click="attributesTree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
        <button ng-click="attributesTree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
    </div>
    <tree-grid 
        tree-data="treeData" 
        tree-control="attributesTree" 
        col-defs="col_defs" 
        expand-on="expanding_property" 
        icon-leaf="fa fa-font">
    </tree-grid>
    <!-- <json-tree object="treeData" start-expanded="true" root-name="'Project'"></json-tree> -->
</div>