<ul class="contextMenu">
    <li ng-if="enableContextMenuEntry">
        <button ng-click="openAddChildPanel(node)"><i class="fa fa-plus"></i> New Child</button>
    </li>
    <li ng-if="enableContextMenuEntry">
        <button ng-click="openMoveClassPanel(node)"><i class="fa fa-arrows"></i>
            Move
        </button>
    </li>
    <li ng-if="!enableContextMenuEntry">
        <button ng-click="enterEdit(event)"><i class="fa fa-arrows"></i>
            Edit
        </button>
    </li>
    <li>
        <button ng-click="openConfirmDeleteElement(node)"><i class="fa fa-trash"></i> Delete</button>
    </li>
</ul>