<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeNewAssetModelPanel()"><i aria-hidden="true"
                                                                                        class="fa fa-remove cam-table-button"></i>
            </button>
            <h4 class="modal-title" id="newAssetModelLabel">Create Asset of Class: <b>{{currentNode.className}}</b></h4>
        </div>
        <form name="newAssetModelForm" ng-submit="" style="border:none;">
            <div class="modal-body">
                <div class="row-fluid"><label>Asset Name</label>
                    <input class="form-control" type="text"
                       ng-model="newAssetModel.name" name="name"
                       ng-pattern="regexPattern"/>
                    <span ng-show="newAssetModelForm.name.$error.pattern">{{invalidNameMsg}}</span>
                    <span ng-show="invalidName">{{nameIsMandatory}}</span>
                </div>
                <div class="row-fluid"><label>Domain</label>
                    <select ng-model="newAssetModel.domainName" class="form-control">
                        <option ng-repeat="domain in domainsList" value="{{domain.iri}}">{{domain.name}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" ng-click="closeNewAssetModelPanel()"> Cancel
                </button>
                <button type="button" class="btn btn-sm btn-primary" ng-click="saveNewAssetModel()">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

