<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="closeNewRelationshipPanel()"><i aria-hidden="true" class="fa fa-remove cam-table-button"></i></button>
            <h4 class="modal-title" id="newRelationshipLabel">{{relPanelTitle}}</h4>
        </div>
        <form name="newRelForm" ng-submit="" style="border:none;">
            <div class="modal-body">
                <div class="row-fluid"><label>Property Name</label>
                    <input class="form-control" type="text"
                     ng-model="newRelationship.name" name="name"
                           ng-pattern="regexPattern" ng-readonly="isEditing">
                    </input>
                    <span  ng-show="newRelForm.name.$error.pattern">{{invalidNameMsg}}</span>
                    <span  ng-show="invalidName">{{nameIsMandatory}}</span>
                </div>
                <div class="row-fluid"><label>Value</label>
                    <select ng-model="newRelationship.referredName"
                            ng-options="o.normalizedName as o.normalizedName for o in select.options"
                            lazy-load-options="" data-options="select.options" class="form-control">
                        <option value=""> {{newRelationship.referredName}} </option>
                    </select>
                    <span  ng-show="valueIsMandatory">{{valueIsMandatoryMsg}}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" ng-click="closeNewRelationshipPanel()"> Cancel</button>
                <button type="button" class="btn btn-sm btn-primary" ng-click="manageEdit()"> Save</button>
            </div>
        </form>
    </div>
</div>

